[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/node_exporter \
  --no-collector.hwmon \
  --collector.systemd
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target